/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
}

/*Header section*/

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  text-align: center;
  max-width:  700px;
  margin: 100px auto;
  padding-bottom: 25px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-text-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  margin: 135px 0 20px 0;
}

.header__logo-text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
  margin: 0 0 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline-start: 18px;
  gap: 14px;
  margin-top: 16px;
}

.theme-menu__item {
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: inherit;
  font-size: inherit;
  padding: 0 ;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  opacity: 60%;
}

.theme-menu__button:hover, .theme-menu__button:disabled {
  opacity: 60%;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:after {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--accent-color);
  width: 0;
  height: 2px;
  transition: width 0.2s ease;
}

/*Main section*/

.main {
  margin-inline: auto;
}

.content__item {
  width: min(100%, 698px);
  margin:0 auto 49px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.content__card {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-wight);
  color: var(--main-text-color);
}

.card__title {
  font-variation-settings: "wght" var(--main-font-bold);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  line-height: 1.2;
  padding: 5px 10px;
}

.card__label {
  position: relative;
  display: block;
  overflow: hidden;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 26px;
}

.watermark {
  position: absolute;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--watermarck-color)) or
    (-webkit-text-stroke: 1px var(--watermarck-color))
) {
  .watermark {
    text-stroke: 1px var(--watermarck-color);
    -webkit-text-stroke: 1px var(--watermarck-color);
  }
}

.card__picture {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-weight: var(--accent-font-weight);
  padding: 0 23px 26px 25px;
}

/*Beauty section*/

.button__text {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 0.9;
  z-index: 1;
  color: var(--accent-text-color);
  mix-blend-mode: difference;
}

.card__like-group {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1px 25px 25px 0;
}

.like-icon {
  position: relative;
  z-index: 1;
  cursor: pointer;
  transform-origin: center;
}

.card__icon-button {
  position: relative;
  background-color: transparent;
  max-block-size: 38px;
  width: 41px;
  height: 38px;
  margin-right: 5px;
  border: none;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-font);
}

.button__like {
  position: relative;
  inline-size: 130px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  cursor: pointer;
  border: 2px solid var(--side-button-color);
  padding: 5px 17px 5px;
}

.button__like:focus {
  outline: none;
}

.button__like:focus-visible {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__like:hover .button__text {
  mix-blend-mode: difference;
}

.button__like:before {
  position: absolute;
  display: block;
  content: "";
  overflow: hidden;
  background-color: currentColor;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button__like:hover::before {
  transform: scaleX(1);
}

/*Section footer*/
.footer {
  display: block;
}

.footer__button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 340px;
  height: 55px;
  margin: 0 auto 80px;
  gap: 10px;
}

.footer .button__text {
  padding:0;
  text-align: center;
}

#dialog-id .button__icon {
  width: 40px;
  height: 40px;
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
  position: relative;
  mix-blend-mode: difference;
  flex-shrink: 0;
  color: var(--accent-text-color);
  text-align: center;
}

/*Modal window*/
.modal {
  background-color: var(--bg-color);
  font-family: var(--main-font), sans-serif;
  border: 2px solid var(--accent-color);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 32px 30px;
}

.modal[open]::backdrop {
  background-color: var(--accent-color);
  opacity: 0.75;
}

.modal__inner{
  display: flex;
  flex-direction: row;
  inline-size: clamp(16.0625rem, 13.2023rem + 12.2034vw, 18.3125rem);
  gap: 20px;
}

.modal__button__icon {
  margin-top: 21px;
  width: 39px;
  height: 39px;
  z-index: 1;
  color: var(--accent-color, #00cc14);
}

.modal__text {
  color: var(--accent-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  mix-blend-mode: difference;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
  margin: 13px 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__ok {
  text-transform: uppercase;
  width: 289px;
  margin: 11px 0;
  height: 38px;
}

/*Filters*/
.saturate_thirty_filter {
  filter: saturate(30%);
}

.acid_filter {
  filter: saturate(350%);
}

.deep_violet_filter {
  filter: hue-rotate(30deg);
}

.negative_green_filter {
  filter: invert(80%);
}

.sepia_filter {
  filter: sepia(90%);
}

.blur_filter {
  filter: blur(20px);
}

.red_tomato_filter {
  filter: saturate(250%) hue-rotate(90deg) blur(0.2rem) brightness(80%)
  contrast(50%);
}

@media (width <= 375px) {

  .header__logo {
    margin-top: 120px;
  }

  .watermark {
    inset-block-start: 22px;
    inset-inline-end: 10px;
  }

  .card__text {
    padding: 0 25px 25px;
  }

  .footer__button {
    flex-direction: column;
    width: 313px;
    height: 88px;
    padding: 15px 0;
  }

  .button__icon {
    width: 35px;
    height: 35px;
  }

  .button__text {
    margin-bottom: 10px;
  }
}