/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
.theme-light {
    --main-font-size: 18px;
    --main-font-wight: 400;
    --main-font-bold: 700;
    --accent-font-weight: 400;
    --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --bg-color: #FFFFFF;
    --accent-color: rgba(0, 0, 0, 1);
    --main-text-color: #000000;
    --accent-text-color: #FFFFFF;
    --svg-heart-like: #ff0000;
    --svg-heart-base: #000000;
    --svg-heart-transparent: rgba(256, 0, 0, 0);
    --side-button-color: #000000;
    --watermarck-color: #FFFFFF;
}

.theme-dark {
    --main-font-wight: 465;
    --main-font-bold: 700;
    --accent-font-weight: 465;
    --bg-image: repeating-linear-gradient(90deg, #000000 0 2px, rgb(0 0 0 / 0) 2px 4px),
                repeating-linear-gradient(180deg, #007f0c 0 2px, rgb(0 67 6 / 1) 2px 4px),
                linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --bg-color: #000000;
    --accent-color: rgba(0, 204, 20, 1);
    --main-text-color: #00CC14;
    --accent-text-color: #00CC14;
    --svg-heart-like: #ff0000;
    --svg-heart-base: #000000;
    --svg-heart-transparent: rgba(256, 0, 0, 0);
    --side-button-color: #00CC14;
    --watermarck-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font: 'Inter', sans-serif;
        --main-font-wight: 465;
        --main-font-bold: 700;
        --accent-font: 'Press Start 2P', system-ui;
        --accent-font-weight: 465;
        --bg-image: repeating-linear-gradient(90deg, #000000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #007f0c 0 2px, rgb(0 67 6 / 1) 2px 4px),
        linear-gradient(180deg, #007f0c 0%, #004306 100%);
        --bg-color: #000000;
        --accent-color: rgba(0, 204, 20, 1);
        --main-text-color: #00CC14;
        --accent-text-color: #00CC14;
        --svg-heart-like: #ff0000;
        --svg-heart-base: #000000;
        --svg-heart-transparent: rgba(256, 0, 0, 0);
        --side-button-color: #00CC14;
        --watermarck-color: #000000;
    }
}